<aside class="sidebar">
    <section class="sidebar-box">
        <h3>SISTEMA ABIERTO</h3>
        <p>Hoy: <time datetime="13:00">13:00</time> - <time datetime="23:00">23:00</time></p>
    </section>

    <section class="sidebar-box">
        <h3>SÍGUENOS</h3>
        <ul class="social-list">
            <li><a href="https://github.com/pabloabaad25">Github</a></li>
            <li><a href="#">Instagram</a></li>
        </ul>
    </section>

    <section class="sidebar-box">
        <h3>UBICACIÓN</h3>
        <p>Distrito Tech, Girona</p>
    </section>
</aside>