<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | Pixel & Pasta</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    {% include topbar.html %}

    <div class="contenedor-diseño">
        {% include sidebar.html %}
        
        <main class="contenido-principal">
            {{ content }}
        </main>
    </div>

    {% include footer.html %}
    <script src="js/main.js"></script>
</body>
</html>